[user]
	name = Andreas Grivas
	email = agrv@iit.demokritos.gr
# stolen from http://githowto.com/aliases
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  # stolen from http://fredkschott.com/post/2014/02/git-log-is-so-2005/ 
  lg =	log --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
