[user]
	name = grv
	email = andreasgrv@gmail.com
[core]
	editor = vim
    excludesfile = ~/.git-gitignore
# stolen from http://githowto.com/aliases
[alias]
	pushall = push --recurse-submodules=on-demand
	co = checkout
	ci = commit
	st = status
	sl = stash list
	sd = stash drop
	sp = stash pop
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	# stolen from http://fredkschott.com/post/2014/02/git-log-is-so-2005/ 
	lg =	log --color --decorate --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	lgall = log --oneline --color --graph --decorate --all
