## arrow up
"\e[A": history-search-backward
## arrow down
"\e[B": history-search-forward
## set home and end key functionality
"\e[1~": beginning-of-line
"\e[4~": end-of-line

"\e.": "ls -lth \015"
"\em": "ls -lSh \015"
"\ev": "`xclip -o`"
"\ec": " | xclip"
"\et": "if [[ $(ps -e | grep tmux | wc -l) == 0 ]]; then tmux; else tmux attach; fi\015"
